<div class="alert alert-success" *ngIf="shipmentUpdated">Trackig Number updated successfully.</div>
<mat-card>
  <mat-card-title>
    List of Shipments for user <strong>{{userId}}</strong>.
  </mat-card-title>
  <mat-card-content>
    <BR>
    <div fxLayout="row">
      <div fxLayout="column" fxFlex="100%" class="mat-elevation-z8">
        <div class="d-flex flex-row-reverse mb-2">
          <!-- <div class="p-2"> -->
          <div>
            <select (change)="onTableSizeChange($event)" class="custom-select">
              <option *ngFor="let size of tableSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
            <!-- <div class="md-form">
              <mdb-select-2 placeholder="Choose your option" label="Example label">
                <mdb-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mdb-select-option>
              </mdb-select-2>
            </div>-->
          </div>
        </div>
        <div>
          <table *ngIf="shipments$ | async as shipments" id="shipmentList" mdbTable
                  class="table table-striped table-bordered table-sm z-depth-1">
            <thead aria-controls="shipmentList" class="thead-dark">
            <tr>
              <th>Select</th>
              <th *ngFor="let head of headers; let i = index" aria-controls="shipmentList" scope="col">{{head}}
              </th>
              <th>Invoice</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipment of shipments | paginate: {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count };
                let i = index">
              <td><mat-radio-button (change)="selectShipment(shipment, $event)" [disabled]="isTrackingNumberPresent(shipment)" [checked]="selectedShipment != null"></mat-radio-button></td>
              <td>{{shipment.provider}}</td>
              <td>{{shipment.trackingNumber}}</td>
              <td>{{shipment.shipper.name}}</td>
              <td>{{shipment.consignee.name}}</td>
              <td>{{shipment.status}}</td>
              <td>
                <button type="button" mat-raised-button color="primary" (click)="getInvoiceFile(shipment.id)">Invoice</button>
              </td>
              <td>
                <button type="button" mat-raised-button color="primary" *ngIf="isNew(shipment.status)" (click)="modifyShipment(shipment)">Modify</button>
                <button type="button" mat-raised-button color="warn" *ngIf="isNew(shipment.status)" (click)="deleteShipment(shipment)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination-controls
            responsive="true"
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
    <BR>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="20%">
        <button mat-raised-button color="primary" (click)="bookShipment()">Book Shipment</button>
      </div>
      <div fxLayout="column" fxFlex="30%">
        <button mat-raised-button color="primary" (click)="bulkupdate.click()">Bulk Update Tracking Number</button>
      </div>
      <div fxLayout="column" fxFlex="30%">
        <button mat-raised-button color="primary" *ngIf="selectedShipment" (click)="updateTrackingNumber()">Update Tracking Number</button>
      </div>
      <div fxLayout="column" fxFlex="20%">
        <mat-label></mat-label>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<input type="file" #bulkupdate style="visibility: hidden;" (change)="bulkUpdate($event)">
