<div class="container-fluid">
  <mat-card>
    <mat-card-title>
      List of Shipments for user <strong>{{userId}}</strong>.
    </mat-card-title>
    <mat-card-content>
      <BR>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="100%" class="mat-elevation-z8">
          <table #table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="provider">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider </th>
              <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
            </ng-container>

            <ng-container matColumnDef="trackingNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AWB Number </th>
              <td mat-cell *matCellDef="let element"> {{element.trackingNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="shipper-name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipper Name </th>
              <td mat-cell *matCellDef="let element"> {{element.shipper.name}} </td>
            </ng-container>

            <ng-container matColumnDef="consignee-name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Consignee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.consignee.name}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="invoice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="btn btn-primary" (click)="getInvoiceFile(element.id)">Invoice</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="btn btn-primary" *ngIf="isNew(element.status)" (click)="modifyShipment(element)">Modify</button>
                <button mat-button class="btn btn-danger" *ngIf="isNew(element.status)" (click)="deleteShipment(element)">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <BR>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="20%">
          <button mat-button class="btn btn-primary" (click)="bookShipment()">Book Shipment</button>
        </div>
        <div fxLayout="column" fxFlex="80%">
          <mat-label></mat-label>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
