<div>
  <div class="alert alert-success" *ngIf="created">Customer Created Successfully.</div>
  <mat-card>
    <mat-card-title>Potential customers list</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="leadCustomers" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Choose</th>
          <td mat-cell *matCellDef="let element">
            <a>
              <mat-icon matSuffix (click)="editCustomer(element)">mode_edit</mat-icon>
            </a>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
          <td mat-cell *matCellDef="let element">{{element.mobileNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="yearLastBooked">
          <th mat-header-cell *matHeaderCellDef>Last Shipment Year</th>
          <td mat-cell *matCellDef="let element">{{element.yearLastBooked}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addCustomer()">Add new customer.</button>
    </mat-card-actions>
  </mat-card>
</div>
