.cutomer-tax-full-width {
  width: 100%;
}


.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

th {
  background-color: royalblue;
  color: whitesmoke;
  font-size: larger;
}
