<div class="jumbotron jumbotron-fluid" fxLayout="row">
  <div class="container" fxLayout="column" fxFlex="100%">
    <h1 class="display-4 text-center">Welcome to Shipment Management System</h1>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="5px">
  <div fxLayout="column" fxFlex="50%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>My Shipments</mat-card-title>
        <mat-card-subtitle>Shipment List</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/courier-checks-parcels-list-boxes-for-sending-vector-13222385.jpg" alt="My Shipments">
      <mat-card-content>
        <p>
          A view on all the shipments booked by you.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">GO</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="50%">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Track Shipment</mat-card-title>
        <mat-card-subtitle>Track your shipment.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/Tracking.jpg" alt="Track a shipment.">
      <mat-card-content>
        <p>
          Track your Shipment from here.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">GO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
