<div class="container" align="center">
  <mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h3>
        <strong>Forgot Password</strong>
      </h3>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5 pt-0">
      <BR>
      <mat-progress-spinner mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>
      <div [class.disabled]="showSpinner">
        <form [formGroup]="forgotPasswordForm" class="text-center loginForm" style="color: #757575;">
          <p class="alert alert-warning" *ngIf="!otpvalidated && (screenMode == 'V')">Invalid OTP. Please try again.</p>
          <p class="alert alert-success" *ngIf="otpGenerated && !showCreatePassword && (screenMode == 'V')">OTP Generated and sent to your registered email. Please validate the same below. Valid for 5 mins.</p>
          <div *ngIf="!otpGenerated">
            <div class="input-group">
              <mat-form-field>
                <mat-label>User Name</mat-label>
                <input type="text" matInput id="userid" formControlName="userid">
                <mat-error *ngIf="userid.hasError('required')">
                  The User Name is mandatory.
                </mat-error>
                <mat-error *ngIf="userid.hasError('minlength')">
                  User Name should be minimum 5 characters.
                </mat-error>
              </mat-form-field>
            </div>
            <BR>
            <button mat-button class="btn btn-outline-primary" (click)="generateOtp()" [disabled]="!userid.valid">Generte OTP</button>
          </div>
          <div *ngIf="otpGenerated && !showCreatePassword">
            <div class="input-group">
              <mat-form-field>
                <mat-label>OTP</mat-label>
                <input type="password" matInput formControlName="otp">
                <mat-error *ngIf="otp.hasError('required')">
                  The OTP is mandatory.
                </mat-error>
              </mat-form-field>
            </div>
            <BR>
            <button mat-button class="btn btn-outline-primary" (click)="validate()" [disabled]="!otp.valid">Validate OTP</button>
          </div>
          <div *ngIf="showCreatePassword">
            <div *ngIf="!passwordCreated">
              <div>
                <mat-form-field>
                  <mat-label>Enter New Password</mat-label>
                  <input [type]="hide ? 'password' : 'text'" matInput id="password" formControlName="newPassword">
                  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="newPassword.hasError('required')">
                    The New Password is mandatory.
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input [type]="hide ? 'password' : 'text'" matInput id="confirmpassword" formControlName="confirmPassword">
                  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="confirmPassword.hasError('required')">
                    The Confirm Password is mandatory.
                  </mat-error>
                  <mat-error *ngIf="!passwordMatch()">
                    The Passwords do not match.
                  </mat-error>
                </mat-form-field>
              </div>
              <BR>
              <button mat-button class="btn btn-outline-primary" (click)="save()" [disabled]="!newPassword.valid || !confirmPassword.valid || !passwordMatch()">Save Password</button>
            </div>
            <div *ngIf="passwordCreated">
              <p class="alert alert-success">Password created successfully. Please login using new password.</p>
            </div>
          </div>
        </form>
      </div>
    </mdb-card-body>
    <mdb-card-footer>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="100%">
          <button class="btn btn-outline-danger" mat-button mat-dialog-close>Close</button>
        </div>
      </div>
    </mdb-card-footer>
  </mdb-card>
</div>
