<form [formGroup]="contentTypeForm">
  <mat-card>
    <mat-card-title>Create Content type</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description">
        <mat-hint>Enter content description</mat-hint>
        <mat-error *ngIf="description.hasError('required')">
          Content description is mandatory.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createNewContent()" [disabled]="!contentTypeForm.valid">Create</button>
    </mat-card-actions>
  </mat-card>
</form>
