<div class="container-fluid">
  <div class="form-group">
    <form [formGroup]="createPasswordForm">
      <table *ngIf="passwordCreated">
        <tr>
          <td class="alert alert-success">Password Created Successfully. Please <a href="/login">login</a> with the new password.</td>
        </tr>
      </table>
      <table class="table" *ngIf="!passwordCreated">
        <tr>
          <td>
            <label for="newPassword">New Password</label>
          </td>
          <td>
            <input type="password" id="newPassword" formControlName="newPassword">
          </td>
        </tr>
        <tr>
          <td>
            <label for="confirmPassword">Confirm Password</label>
          </td>
          <td>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-danger" (click)="save()">Save Password</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
