<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <b>
          <a class="nav-link text-capitalize" href="/shipment" id="shipmentParent">
            Shipments
          </a>
        </b>
      </li>
      <li class="nav-item">
        <b><a class="nav-link" href="/dsr">DSR</a></b>
      </li>
      <li class="nav-item">
        <b><a class="nav-link d-flex justify-content-end" (click)="handleLogout()">Logout</a></b>
      </li>
    </ul>
  </div>
</nav> -->
<mat-toolbar>
  <a mat-button (click)="openLogin()"  routerLink="/"><img src="assets/img/logo.png"></a>
  <ul>
    <li *ngIf="isLoggedIn">
      <a mat-button routerLink="/shipment" routerLinkActive="mat-accent">Shipments</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button routerLink="/dsr" routerLinkActive="mat-accent">DSR</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button routerLink="/customertaxinvoice" routerLinkActive="mat-accent">Customer Tax Invoice</a>
    </li>
  </ul>
  <!-- <button *ngIf="isLoggedIn" mat-button color="accent" [matMenuTriggerFor]="shipments">Shipment Menu</button>
  <mat-menu #shipments="matMenu">
    <button mat-menu-item color="accent">Shipments</button>
    <button mat-menu-item color="accent" [matMenuTriggerFor]="persons">Reports</button>
  </mat-menu>
  <mat-menu #persons="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="userreports"> User Reports</button>
    <button mat-menu-item [matMenuTriggerFor]="customerreports">Customer Reports</button>
  </mat-menu>
  <mat-menu #userreports="matMenu">
    <button mat-menu-item>Daily Status Reports</button>
    <button mat-menu-item>User Tax Invoice</button>
  </mat-menu>
  <mat-menu #customerreports="matMenu">
    <button mat-menu-item>Customer Tax Invoice</button>
  </mat-menu> -->
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!isLoggedIn">
      <a mat-button (click)="openLogin()" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button>
      <mat-icon matSuffix type="button" color="accent">person</mat-icon>
      </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a mat-button (click)="handleLogout()" routerLinkActive="mat-accent">Logout</a>
    </li>
  </ul>
</mat-toolbar>



